<head>
    <Title>React In Action</Title>
    <link href='./../bower_components/skeleton/css/skeleton.css' rel="stylesheet">
    <link href='./../bower_components/skeleton/css/skeleton.css' rel="stylesheet">
    <link href='/styles.css' rel="stylesheet">
</head>
<body>
    <div class='container'>
        React Grocery List App
        <div id="app">
            <%- reactOutput %>
        </div>
        <script src='app.js'></script>
    </div>

</body>